<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.VR.video_cardboard" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/vr_icon"
        android:label="@string/app_name_pano"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.VR.video_cardboard.HomeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name_pano"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.VR.video_cardboard.PanoramaVideoActivity"
             >
        </activity>
        <activity
            android:name="com.VR.video_cardboard.PanoramaImageActivity"
            >
        </activity>
    </application>

</manifest>
